{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('login/sign-up.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('profil/script.js') }}"></script>
{% endblock %}

{% block content %}
<div id="intro" >
        <div>
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <h2 class="text-center mb-4" >Registration</h2>
                    {{ form_errors(registrationForm, {'attr': {'class': 'error-message'}}) }}
                    {{ form_start(registrationForm, {'attr': {'class': 'form bg-white rounded shadow-5-strong p-5'}}) }}
                    
                    <div class="form-group row">
                        <div class="col">
                            {{ form_label(registrationForm.nom, 'Last Name', {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col">
                            {{ form_label(registrationForm.prenom, 'First Name', {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.email, 'Email') }}
                        <div id="email">
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            <div class="email-error-message" id="email-error-message">
                                {{ form_errors(registrationForm.email) }}
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.plainPassword, 'Password') }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.genre, 'Gender') }}
                        {{ form_widget(registrationForm.genre, {'attr': {'class': 'form-control-radio'}}) }}
                        {{ form_errors(registrationForm.genre) }}
                    </div>
                    

                    <div class="form-group">
                        {{ form_label(registrationForm.address, 'Adress') }}
                        {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.phoneNumber, 'Phone Number') }}
                        <div id="phone-number-field">
                            {{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                            <div class="error-message" id="phone-error-message">
                                {{ form_errors(registrationForm.phoneNumber) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-check">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'label_attr': {'class': 'form-check-label'}}) }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                    {{ form_end(registrationForm) }}
                    <br><br>
                </div>
            </div>
        </div>

</div>
{% endblock %}
