<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PERFUME CHEZ EXOTIK {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('base/logoicon.png') }}">
    <link rel="stylesheet " href="{{ asset('base/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block header %}
    <div class="offcanvas_menu offcanvas_two">
        <div class="canvas_open">
            <a href="javascript:void(0)"><i class="fa fa-bars"></i></a>
        </div>
        <div class="offcanvas_menu_wrapper">
            <div class="canvas_close">
                <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
            </div>
            <div class="header_account">
                <ul>
                    <li class="top_links">
                        <a href="#" style="text-decoration: none;">My Account <i class="fa fa-angle-down"></i></a>
                    </li>
                </ul>
            </div>

            <div class="header_right_info">
                <ul>
                    <li class="search_box">
                        <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
                        <div class="search_widget">
                            <form action="#">
                                <input type="text" placeholder="Search Your Perfume">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </li>
                    <li class="mini_cart_wrapper">
                        <a href="javascript:void(0)">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="item_count">2</span>
                        </a>
                        <div class="mini_cart mini_cart2">
                            <div class="cart_gallery">
                                <div class="cart_item">
                                    <div class="cart_img">
                                        <a href="#" style="text-decoration: none;"><img src="{{ asset('base/small-product/mini1.png') }}" alt="Perfume"></a>
                                    </div>
                                    <div class="cart_info">
                                        <a href="#" style="text-decoration: none;">Hugo Boss</a>
                                        <p><span>100 €</span> X 1</p>
                                    </div>
                                    <div class="cart_remove">
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="cart_item">
                                    <div class="cart_img">
                                        <a href="#"><img src="{{ asset('base/small-product/mini2.png') }}" alt="Perfume"></a>
                                    </div>
                                    <div class="cart_info">
                                        <a href="#">Bvlgari</a>
                                        <p><span>100 €</span> X 1</p>
                                    </div>
                                    <div class="cart_remove">
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mini_cart_table">
                                <div class="cart_table_border">
                                    <div class="cart_total">
                                        <span>Sub Total :</span>
                                        <span class="price">200€</span>
                                    </div>

                                    <div class="cart_total mt-10">
                                        <span>Total :</span>
                                        <span class="price">200€</span>
                                    </div>

                                </div>
                            </div>
                            <div class="mini_cart_footer">
                                <div class="cart_button">
                                    <a href="#">View Cart</a>
                                </div>
                                <div class="cart_button">
                                    <a href="#">Checkout</a>
                                </div>
                            </div>
                        </div>
                        <!-- mini cart ends here -->
                    </li>
                </ul>
            </div>

            <div id="menu" class="text-left">
                <ul class="offcanvas_main_menu">
                    <li class="menu-item-has-children active">
                        <a href="contact" style="text-decoration: none;">Home</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" style="text-decoration: none;">Brands</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#" style="text-decoration: none;">Men</a>
                                <ul class="sub-menu">
                                    <li><a href="#" style="text-decoration: none;">Versace</a></li>
                                    <li><a href="#" style="text-decoration: none;">Hugo Boss</a></li>
                                    <li><a href="#" style="text-decoration: none;">Jaguar</a></li>
                                    <li><a href="#" style="text-decoration: none;">Armani</a></li>
                                    <li><a href="#" style="text-decoration: none;">Paco Rabbane</a></li>
                                    <li><a href="#" style="text-decoration: none;">Ralph Lauren</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Women</a>
                                <ul class="sub-menu">
                                    <li><a href="#" style="text-decoration: none;">Bvlgari</a></li>
                                    <li><a href="#" style="text-decoration: none;">Coach</a></li>
                                    <li><a href="#" style="text-decoration: none;">Kenzo</a></li>
                                    <li><a href="#" style="text-decoration: none;">D&G</a></li>
                                    <li><a href="#" style="text-decoration: none;">Jean Paul Gaultier</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" style="text-decoration: none;">Unisex</a>
                                <ul class="sub-menu">
                                    <li><a href="#" style="text-decoration: none;">Ajmal</a></li>
                                    <li><a href="#" style="text-decoration: none;">Calvin Klein</a></li>
                                    <li><a href="#" style="text-decoration: none;">The Body Shop</a></li>
                                    <li><a href="#" style="text-decoration: none;">Lattafa</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#" style="text-decoration: none;">My Account</a>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#" style="text-decoration: none;">User</a>
                        <ul class="sub-menu">
                            {% if app.user %}
                            <li><a href="{{ path('app_profile') }}" style="text-decoration: none;">Profil</a></li>
                            <li><a href="{{ path('app_logout') }}" style="text-decoration: none;">Log out</a></li>
                            {% else %}
                            <li><a href="{{ path('app_login') }}" style="text-decoration: none;">Log In</a></li>
                            <li><a href="{{ path('app_register') }}" style="text-decoration: none;">Sign up</a></li>
                            {% endif %}

                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <header>
        <div class="main_header header_transparent header-mobile-m">
            <div class="header_container sticky-header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="logo">
                                <a href="{{ path('app_product_category_brand') }}"><img src="{{ asset('base/logo.png') }}" style="max-height: 50px;"  alt=""></a>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <!-- main-menu starts -->
                            <div class="main_menu menu_two menu_position">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="{{ path('app_home') }}" class="active" style="text-decoration: none;">Home </a>

                                        </li>

                                        <li class="mega_items">
                                            <a href="#" style="text-decoration: none;">Brands <i class="fa fa-angle-down"></i></a>
                                            <div class="mega_menu">
                                                <ul class="mega_menu_inner">
                                                    {% for cat, brands in brandLists %}
                                                        <li>
                                                            <a href="/product/{{ cat|lower }}">{{ cat|capitalize }}</a>
                                                            {% if brands %}
                                                                <ul>
                                                                    {% for brand in brands %}
                                                                        <li><a href="/product/{{ cat|lower }}/{{ brand|replace({' ': '-'})|lower }}">{{ brand }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                        </li>

                                        <li><a href="#" style="text-decoration: none;">Contact Us</a></li>
                                        <li>
                                            <a href="#" style="text-decoration: none;">User <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                {% if app.user %}
                                                <li><a href="{{ path('app_profile') }}">Profil</a></li>
                                                <li><a href="{{ path('app_logout') }}">Log out</a></li>
                                                {% else %}
                                                <li><a href="{{ path('app_login') }}">Log In</a></li>
                                                <li><a href="{{ path('app_register') }}">Sign up</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- main menu ends -->
                        </div>
                        <div class="col-lg-4">
                            <div class="header_top_right">
                                <div class="header_right_info">
                                    <ul>
                                        <li class="search_box">
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <div class="search_widget">
                                                <form action="#">
                                                    <label>
                                                        <input type="text" placeholder="Search your perfume">
                                                    </label>
                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </li>
                                        <li class="mini_cart_wrapper">
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span class="item_count">2</span>
                                            </a>

                                            <!-- mini cart  -->
                                            <div class="mini_cart mini_cart2">
                                                <div class="cart_gallery">
                                                    <div class="cart_item">
                                                        <div class="cart_img">
                                                            <a href="#"><img src="{{ asset('base/small-product/mini1.png') }}" alt="Perfume"></a>
                                                        </div>
                                                        <div class="cart_info">
                                                            <a href="#" style="text-decoration: none;">Hugo Boss</a>
                                                            <p><span>100 €</span> X 1</p>
                                                        </div>
                                                        <div class="cart_remove">
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cart_item">
                                                        <div class="cart_img">
                                                            <a href="#"><img src="{{ asset('base/small-product/mini2.png') }}" alt="Perfume"></a>
                                                        </div>
                                                        <div class="cart_info">
                                                            <a href="#" style="text-decoration: none;">Bvlgari</a>
                                                            <p><span>100 €</span> X 1</p>
                                                        </div>
                                                        <div class="cart_remove">
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mini_cart_table">
                                                    <div class="cart_table_border">
                                                        <div class="cart_total">
                                                            <span>Sub Total :</span>
                                                            <span class="price">200€</span>
                                                        </div>

                                                        <div class="cart_total mt-10">
                                                            <span>Total :</span>
                                                            <span class="price">200 €</span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="mini_cart_footer">
                                                    <div class="cart_button">
                                                        <a href="#" style="text-decoration: none;">View Cart</a>
                                                    </div>
                                                    <div class="cart_button">
                                                        <a href="#" style="text-decoration: none;">Checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- mini cart ends -->
                                        </li>
                                    </ul>
                                </div>
                                {% if app.user %}
                                <div class="header_account">
                                    <ul>
                                        <li class="top_links">
                                            <a href="{{ path('profile_edit') }}">
                                                <i class="fa fa-cog"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Contenu spécifique à chaque page -->
{% endblock %}

{% block footer %}
    <footer class="footer_widgets color_two">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-7">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a href="#"><img src="logo.png" alt="Logo"></a>
                            </div>
                            <div class="footer_desc">
                                <p>At our store, you'll find an array of perfumes to match every mood and occasion. Can't find the fragrance you're dreaming of in our selection? Simply email us. We are dedicated to tracking down exclusive and elusive scents to elevate your perfume experience. Discover your new favorite fragrance with us today!</p>
                            </div>
                            <p>
                                <span>Address :</span> CY TECH, avenue du Parc 44 95000
                            </p>
                            <p><span>Email :</span> <a href="#">cytech@gmail.com</a></p>
                            <p><span>Phone :</span> <a href="tel: 0198946526">0198946526</a> </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">New Products</a></li>
                                    <li><a href="{{ path('app_guidlines') }}">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer section starts  -->

        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2024 <a href="#">EXOTIK </a>All right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_payment text-right">
                            <ul>
                                <li><a href="#"><img src="{{ asset('base/icon/paypal.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('base/icon/paypal1.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('base/icon/paypal2.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('base/icon/paypal3.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('base/icon/paypal4.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('base/icon/paypal5.jpg') }}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<script src="{{ asset('base/countdown.js') }}"></script>
<script src="{{ asset('base/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
