{% extends 'base.html.twig' %}
{% block title %}Page de Produits{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('product/style.css') }}">
    <script src="{{ asset('product/product.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="product_section">
    <div class="product_area product_area_two mb-65">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>OUR Products</h2>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist">
                                <li class="nav-item"><a href="/product/men" class="nav-link {% if category == 'men' %}active{% endif %}">Men</a></li>
                                <li class="nav-item"><a href="/product/women" class="nav-link {% if category == 'women' %}active{% endif %}">Women</a></li>
                                <li class="nav-item"><a href="/product/unisex" class="nav-link {% if category == 'unisex' %}active{% endif %}">Unisex</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-content">
                {% for category in categories %}
                    <div class="tab-pane fade show active" id="{{ category }}" role="tabpanel">
                        <div class="row">
                            <div class="product_grid">
                                {% for product in products %}
                                    {% if (product.category == category) and (product.quantity > 0)  %}
                                        <div class="col-md-3 col-sm-6">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a href="#" class="primary_img">
                                                            <img src="{{ asset(product.primaryImageUrl) }}" >
                                                        </a>
                                                        <a href="#" class="secondary_img">
                                                            <img src="{{ asset(product.secondaryImageUrl) }}" >
                                                        </a>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart">
                                                                    {% if app.user %}
                                                                    <a href="{{ path('cart_Add', {'id': product.id_prod}) }}" title="Add to Cart">
                                                                        <i class="fa fa-shopping-cart"></i>
                                                                    </a>
                                                                    {% else %}
                                                                    <a href="{{ path('app_login') }}" title="Add to Cart">
                                                                        <i class="fa fa-shopping-cart"></i>
                                                                    </a>
                                                                    {%endif%}
                                                                </li>
                                                                <li class="quick_button">
                                                                    {% if app.user %}
                                                                    <a href="#" data-toggle="modal" data-target="#modal_box_{{ product.id_prod }}" title="Quick View">
                                                                        <i class="fa fa-eye"></i>
                                                                    </a>
                                                                    {% else %}
            
                                                                    <a href="{{ path('app_login') }}" title="Quick View">
                                                                        <i class="fa fa-eye"></i>
                                                                    </a>
                                                                    {%endif%}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <figcaption class="product_content">
                                                        <h4 class="product_name"><a href="#">{{ product.name }}</a></h4>
                                                        <div class="price_box">
                                                            <span class="old_price">{{ product.getOldPrice }}€</span>
                                                            <span class="current_price">{{ product.getCurrentPrice }}€</span>
                                                        </div>
                                                        <div class="product_rating">
                                                            <ul>
                                                                {% for i in 1..product.rating %}
                                                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </article>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% for product in products %}
        <div class="modal fade" id="modal_box_{{ product.id_prod }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" data-dismiss="modal" aria-label="close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal_body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="modal_tab">
                                        <div class="tab-content product-details-large">
                                            <div class="tab-pane fade show active" id="tab1_{{ product.id_prod }}" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="{{ asset(product.primaryImageUrl) }}" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab2_{{ product.id_prod }}" role="tabpanel">
                                                <div class="modal_tab_img">
                                                    <a href="#"><img src="{{ asset(product.secondaryImageUrl) }}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal_tab_button">
                                            <ul class="nav product_navactive owl-carousel" role="tablist">
                                                <li>
                                                    <a href="#tab1_{{ product.id_prod }}" class="nav-link active" data-toggle="tab" role="tab"
                                                       aria-controls="tab1_{{ product.id_prod }}" aria-selected="false">
                                                        <img src="{{ asset(product.primaryImageUrl) }}" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#tab2_{{ product.id_prod }}" class="nav-link" data-toggle="tab" role="tab"
                                                       aria-controls="tab2_{{ product.id_prod }}" aria-selected="false">
                                                        <img src="{{ asset(product.secondaryImageUrl) }}" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <div class="modal_right">
                                        <div class="modal_title mb-10">
                                            <h2>{{ product.getname }}</h2>
                                        </div>
                                        <div class="modal_price mb-10">
                                            <span class="new_price">{{ product.getCurrentPrice }}</span>
                                            <span class="old_price">{{ product.getOldPrice }}</span>
                                        </div>
                                        <div class="modal_description mb-15">
                                            <p>{{ product.description }}</p>
                                        </div>
                                        <div class="variants_selects">
                                            <div class="variants_size">
                                                <h2>Size</h2>
                                                <select class="select_option">
                                                    <option value="1" selected>10ml</option>
                                                    <option value="1">25ml</option>
                                                    <option value="1">50ml</option>
                                                    <option value="1">100ml</option>
                                                    <option value="1">250ml</option>
                                                </select>
                                            </div>
                                            <div class="modal_add_to_cart">
                                                <form action="{{ path('add_cart2', {'id': product.id_prod})}}" method="POST">
                                                    <div class="quantity-selector">
                                                        <button type="button" class="quantity-btn decrease">−</button>
                                                        <input type="number" name="qty" id="quantity_{{ product.id_prod }}" class="quantity-input" value="0" min="0" max="{{ product.getQuantity }}">
                                                        <button type="button" class="quantity-btn increase">+</button>
                                                    </div>
                                                    <button type="button" class="stock-btn">Stock : {{ product.getQuantity }}</button>
                                                    <button type="submit">Add to cart</button>
                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}
